* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    background-image: url(../img/bg.jpg);
}
.header__konstrut-images {
}
.header__konstrut-logo {
    position: absolute;
    margin-top: 55px;
}
.header__partner-kostuct {
    font-size: 60px;
    margin-top: 489px;

    position: absolute;
    font-family: Bebas Neue;
    letter-spacing: 10px;
    color: white;
}
.header__construction-management {
    position: absolute;
    font-size: 20px;
    margin-top: 560px;
    color: white;
}
.header__scroll-down {
    position: absolute;
    margin-top: 930px;
    color: white;
    font-size: 11px;
}