.header {
    background-image: url(../img/neboskreby_nochnoj_gorod_ogni_goroda_133388_1920x1080.jpg);
    height: 769px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding-top: 42px;
    padding-bottom: 70px;
}

.header__wrapper-title {
    text-align: center;
    padding-top: 80px;
}

.logo.logo--white {
    height: 20px;
}

.header__title {
    font-size: 60px;
    font-family: "Bebas Neue";
    letter-spacing: 5px;
}

.header__subtitle {
    font-size: 17px;
    font-family: "Open Sans";
    font-weight: 300;
}

.header__scroll-button {
    font-size: 11px;
    font-family: "Open Sans";
    letter-spacing: 2px;
    font-weight: 300;
}

/* --------------------------------------------------- */

