.nav {
    display:  flex;
    justify-content: space-between;
    list-style: none;
    background: #E6E6E6;
    box-sizing: border-box;
    height: 65px;
    align-items: center;
    padding: 0 calc(50% - 469px);
}
.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding:0;
    gap: 40px;
}
.menu__link {
    font-family: "Open Sans";
    font-weight: 600;
    text-decoration: none;
    color: #48555B;
}

.about-color {
    color: #00A4E5;
}

.logo--black {
    height: 20px;
}